<% layout ("/layouts/boilerplate")-%>
  <body>
    <div class="container">
      <% if (errorMsg && errorMsg.length > 0) { %>
        <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
            <%= errorMsg %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>
    
    <% if (successMsg && successMsg.length > 0) { %>
      <div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
        <%= successMsg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>
    <div class="row">
      <div class="col-sm-9 text-center d-flex justify-content-between flex-nowrap " style="overflow-x: scroll; ;">
        <div class="col m-2 topmenu">
          <i class="fa-solid fa-fire"></i>
          <a href="/" class="nav-link">Trending</a>
        </div>
        <div class="col m-2 topmenu">
          <i class="fa-solid fa-bed"></i>
          <a href="/" class="nav-link">Room</a>
        </div>
        <div class="col m-2 topmenu">
          <i class="fa-solid fa-mountain-city"></i>
          <a href="/" class="nav-link">iconic</a>
        </div>
        <div class="col m-2 topmenu">
          <i class="fa-solid fa-person-swimming"></i>
          <a href="/" class="nav-link">Pools</a>
        </div>
        <div class="col m-2 topmenu">
          <i class="fa-solid fa-wheat-awn"></i>
          <a href="/" class="nav-link">farms</a>
        </div>
        <div class="col m-2 topmenu">
          <i class="fa-solid fa-mug-saucer"></i>
          <a href="/" class="nav-link">Breakfast</a>
        </div>
        <div class="col m-2 topmenu">
          <i class="fa-solid fa-fire"></i>
          <a href="/" class="nav-link">Trending</a>
        </div>
        <div class="col m-2 topmenu">
          <i class="fa-solid fa-icicles"></i>
          <a href="/" class="nav-link">Islands</a>
        </div>
        <div class="col m-2 topmenu">
          <i class="fa-solid fa-wheat-awn"></i>
          <a href="/" class="nav-link">farms</a>
        </div>
        <div class="col m-2 topmenu">
          <i class="fa-solid fa-mug-saucer"></i>
          <a href="/" class="nav-link">Breakfast</a>
        </div>
      </div>
      <div class="col-sm-3 d-none d-md-block d-flex justify-content-end my-auto">
        <div class="border border-1 d-flex p-2 my-auto rounded-4">
          <label class="me-2" for="flexSwitchCheckDefault">Display total after taxes</label>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          </div>
        </div>
        
      </div>
    </div>
        <div class="row">
          <div class="col-sm-12 my-2">
            <h3>Top <span class="commoncolor">Picks</span> for You <span class="commoncolor"><i class="fa-solid fa-arrow-trend-up"></i></span></h3>
          </div>
            <% for(let listing of data){%>
              <div class="col-sm-4 my-2">
                <a class="listing-card" href="/listings/<%=listing._id%>">
                        <div class="card h-100 border border-0 list-card">
                          <img src="<%=listing.image.url%>" class="cardimg card-img-top rounded-4"  alt="<%=listing.image.filename%>" style="object-fit: cover; height: 250px; width: 100%;">
                          <div class="card-body">
                            <h5 class="card-title"><%=listing.title%></h5>
                            <p class="card-text lh-1">Hosted by <%=listing.owner[0].username%></p>
                            <p class="card-text lh-1"><%=listing.createdAt.toLocaleString()%></p>
                            <p class="card-text lh-1"><span class="fw-bold">&#8377;<%=listing.price.toLocaleString("en-IN")%></span> night
                            <i class="GST">+18% GST Included</i>
                            </p>
                          </div>
                        </div>
                </a>
              </div>
            <%}%>
          </div>
    </div>
    <script>
      let taxSwitch = document.getElementById("flexSwitchCheckDefault");
      let GST = document.querySelectorAll(".GST");
      taxSwitch.addEventListener("click",()=>{
        for(let info of GST){
          if(info.style.display!="inline"){
          info.style.display="inline";
          }
          else {
            info.style.display='none';
          }
        }
      })
    </script>
  </body>
